**/.DS_Store
nbproject
manifest.mf
build.xml
.project
.settings
.idea/

# _public

_public/index.html
_public/css/
_public/js/

# npm, bower, brunch

node_modules/
bower_components/
dist/
cache/
npm-debug.log
test/test-results.xml
