ul.nav.navbar-nav
  li(ng-class="getClass('/todo')")
    a(href='#!/todo') todo
  li(ng-class="getClass('/view1')")
    a(href='#!/view1') view1
  li(ng-class="getClass('/view2')")
    a(href='#!/view2') view2
